.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  gap: 2rem;
  background-color: #1b1b1b;
  padding: 3rem 2rem;
  color: white;
  overflow: hidden;
  text-align: left; 
}

.studio-title {
  font-size: 4rem;
  font-weight: 600;
  animation: fadeSlide 1s ease-in-out;
  min-width: 200px;
  text-align: left;  
}

.studio-logo {
  width: 200px;
  height: 200px;
  animation: zoomFade 1s ease-in-out;
  flex: 0 0 auto;
  max-width: 100%;
 
}


@media (max-width: 768px) {
  .header-section {
    flex-direction: row;
    padding: 2.5rem 1.5rem;
    text-align: center; 
  }

  .studio-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .studio-logo {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 480px) {
  .header-section {
    padding: 2rem 1rem;
  }

  .studio-title {
    font-size: 2rem;
    padding: 0 1rem;
  }

  .studio-logo {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 360px) {
  .studio-title {
    font-size: 1.7rem;
  }

  .studio-logo {
    width: 90px;
    height: 90px;
  }
}
